openapi: 3.0.1
info:
  title: ZeroBounce Validate Email plugin Validation API
  description: Plugin that can validate email addresses. Send the email address you want to validate and the ZeroBounce API will validate that email and return information on it.
  version: v1
servers:
- url: https://members-api.zerobounce.net
tags:
- name: Validation
paths:
  /api/validation/chatgpt-single-email-validation/:
    post:
      operationId: validate
      summary: Validate an email address. Allows a maximum of 3 requests per day for an unauthenticated user. For more requests please register on ZeroBounce.net and get an API key - https://www.zerobounce.net/members/signin/register.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/validateEmailRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validateEmailResponse'
      tags:
      - Validation
  /api/validation/chatgpt-batch-validation/:
    post:
      operationId: validateBatch
      summary: Validate a list of email addresses. Requires a ZeroBounce API key. The user can get an API key by registering on ZeroBounce.net - https://www.zerobounce.net/members/signin/register.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/validateBatchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validateBatchResponse'
      tags:
      - Validation
components:
  schemas:
    validateEmailRequest:
      type: object
      required:
      - email
      properties:
        api_key:
          type: string
          description: The user's ZeroBounce API key. Optional. The user can perform up to 3 requests per day without providing this API key.
        email:
          type: string
          description: The email you want to validate.
    validateBatchRequest:
      type: object
      required:
      - api_key
      - email_batch
      properties:
        api_key:
          type: string
          description: The user's ZeroBounce API key.
        emails:
          type: string
          description: A string representing a comma-separated list of emails to validate.
    validateBatchResponse:
      type: array
      description: An Array of validated emails.
      items:
        $ref: '#/components/schemas/validateEmailResponse'
    validateEmailResponse:
      type: object
      properties:
        address:
          type: string
        status:
          type: string
        sub_status:
          type: string
        free_email:
          type: string
        did_you_mean:
          type: string
        account:
          type: string
        domain:
          type: string
        domain_age_days:
          type: string
        smtp_provider:
          type: string
        mx_found:
          type: string
        firstname:
          type: string
        lastname:
          type: string
        gender:
          type: string
        country:
          type: string
        region:
          type: string
        city:
          type: string
        zipcode:
          type: string
        processed_at:
          type: string
